.avatar {
    width: 22em;
    /* margin: auto;
    display: block; */
}

a {
    color: black;
}

.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 35em;
    height: 40em;
    margin-top: 8em;
    padding-top: 2em;
}

body {
    margin: 0 auto;
}

.center {
    justify-content: center;
    -webkit-flex-justify-content: center;
}

.container {
    padding: 2px 16px;
}

body,
body * {
    text-align: center;
    font-family: "Menlo", "monospace";
}

.links {
    flex-direction: row;
    -webkit-flex-direction: row;
}

h2 {
    color: #fc4db9;
}

.link:hover {
    color: #fc4db9
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
        margin: auto 0gi;
        box-shadow: none;
        margin-top: -1em;
    }
}